@import "tailwindcss";


:root {
  --background: #ECECEC;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* Fallback */
}

/* Ideally we import Local Inter or Google Fonts Inter in layout.tsx, but basic sans is okay for now if not connecting to web */
@layer utilities {
  .tracking-tighter {
    letter-spacing: -0.04em;
  }

  .tracking-tight {
    letter-spacing: -0.02em;
  }
}